body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
    background: #74c69d;
}

.container-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px 0px 32px;
}

.container-child {
    max-width: 300px;
    width: 100%;
}

.calculator {
    border-radius: 1rem;
}
/* Starts display of the calculator*/
.calculator .display {
    background: #212121;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.display .calculator-display {
    text-align: right;
    border: 0px;
    background-color: #3b3b3b;
    border-radius: .725rem;
    padding: .650rem;
    outline: none;
}

.calculator-display output {
    display: block;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;

}

output.user-input {
    font-size: 1.925rem;
    font-weight: 400;
    color: whitesmoke;
}

output.result {
    font-size: 2.725rem;
    font-weight: 600;
    color: #23c223;
}

/* End of display of the caculator */

/* Start of body of the calculator */
.calculator .all-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: .5rem;
    padding: 1rem;
    background: #212121;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.all-buttons button {
    font-size: 1.325rem;
    padding: 1rem 0;
    font-weight: 540;
    background: #616161;
    border: 0px solid transparent;
    outline: none;
    border-radius: 100%;
    text-decoration: none;
    color: #dfdfdf;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

button.equals {
    grid-column: 3 / 5;
    border-radius: 2.5rem;
}

button.equals:hover {
    background: limegreen;
    color: #ffffff;
    transform: translateY(-0.2rem);
}

button.digits:hover,
button.decimal:hover {
    background: #bdbdbd;
    color: #212121;
    transform: translateY(-0.2rem);
}

button.allclear:hover,
button.clear:hover {
    background: #ff6161;
    color: #ffffff;
    transform: translateY(-0.2rem);
}

button.operators:hover {
    background: mediumturquoise;
    color: #212121;
    transform: translateY(-0.2rem);
}

button.digits:active,
button.decimal:active,
button.operators:active,
button.equals:active,
button.allclear:active,
button.clear:active {
    transform: translateY(0rem);
}
/* End of body of the calculator */